/* General App styling */
.App {
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  transition: background-color 0.3s, color 0.3s;
}

/* Light Theme - Darker Background */
.App.light {
  background-image: linear-gradient(rgba(50, 50, 50, 0.7), rgba(50, 50, 50, 0.7)), url('https://images.unsplash.com/photo-1598133894004-2e1db6ac2a9c');
  color: black;
}

/* Dark Theme */
.App.dark {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://images.unsplash.com/photo-1598133894004-2e1db6ac2a9c');
  color: white;
}

/* Black Borders and Rounded Corners in Both Themes */
.cocktail-form input,
button,
.modal {
  border: 2px solid black;
  border-radius: 15px;
}

/* Form and Buttons */
.cocktail-form input,
button {
  margin-top: 10px;
  padding: 12px;
  font-size: 16px;
  width: 90%;
  max-width: 350px;
  cursor: pointer;
}

button {
  background-color: #4CAF50;
  color: white;
}

button:hover {
  background-color: #45a049;
}

/* Apple-Style Switch for Theme Toggle */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 20px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #4CAF50;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Modal Styles */
.modal {
  background-color: rgba(255, 255, 255, 0.95);
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 500px;
  margin: 20px auto;
  top: 50%;
  transform: translateY(-50%);
  position: relative;
  transition: background-color 0.3s, color 0.3s;
}

.App.dark .modal {
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
}

.modal h2 {
  margin-top: 0;
  font-size: 24px;
}

.modal img {
  margin: 20px 0;
  width: 100%;
  border-radius: 15px;
}

.modal ul {
  list-style-type: none;
  padding: 0;
}

button {
  margin-top: 20px;
}

/* Responsive Design */
@media only screen and (max-width: 768px) {
  h1 {
    font-size: 26px;
    margin-bottom: 20px;
  }

  .modal {
    width: calc(100% - 24px);
    padding: 20px;
    margin: 20px 12px;
  }

  .modal h2 {
    font-size: 22px;
  }
}

@media only screen and (max-width: 480px) {
  h1 {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .modal {
    padding: 20px;
    width: calc(100% - 24px);
    margin: 20px 12px;
  }

  .modal h2 {
    font-size: 18px;
  }
}
